<!doctype html>
<html lang="pt" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Exemplo cadastro</title>
</head>
<body>
<h2>Cadastrar entidade</h2>
    <form method="post">
    Nome: <input type="text" value="" name="nome"/><br>
    Texto: <input type="text" value="" name="nome"/><br>
    <button onclick="alert()">Salvar</button>
    </form>
    
    <script>
    function alert() {
      alert("Cadastro");
    }
    </script>
</body>
</html>