<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>


    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.2/css/all.min.css'>

    <link rel="stylesheet" href="../static/css/login.css">


</head>

<body>

    <div class="container" id="container">

        <div class="form-container sign-in-container">
            <form action="#">
                <h1>Sign in</h1>
                <input type="email" placeholder="Email" />
                <input type="password" placeholder="Senha" />
                <a href="#" class="forgot-password">Esqueceu sua senha?</a>
                <button id="botaoEntrar">Entrar</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <img src="../static/imagens/icon.png" style="width:30%">
                    <h1>Chernobyl Filmes</h1>
                    </br>
                    <button class="ghost" id="signUp">Cadastre-se</button>
                </div>
            </div>
        </div>
    </div>



    <script src="../static/js/login.js"></script>




</body>

</html>