@charset "UTF-8";
img {
    width: 100%;
}

body {
    background: #5db1b1;
    background: -webkit-linear-gradient(to right, #c2ffff, #5db1b1);
    background: linear-gradient(to right, #c2ffff, #5db1b1);
}

header {
    height: 60px;
    margin-bottom: 30px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header #rating-filter {
    color: white;
    padding: 5px;
    background: black;
    border: none;
    cursor: pointer;
}

section {
    margin: auto;
    margin-top: 20px;
    max-width: 760px;
    display: flex;
    flex-wrap: wrap;
}

figure {
    background-color: white;
    width: 14em;
    margin: .50em;
    box-shadow: 0 5px 18px 0 gray;
    overflow: hidden;
    position: relative;
}

figure img {
    height: 21em;
}

figure figcaption {
    line-height: 2;
    padding: 0 .80em;
}

figure figcaption p {
    text-transform: capitalize;
    font-size: .80em;
    margin-bottom: 0;
    color: lightgray;
}

figure figcaption .rating {
    display: flex;
    align-items: center;
}

figure figcaption .rating .fa-radiation {
    margin: .50em .50em .50em 0;
}

figure figcaption .rating h4 {
    margin: 0;
}

@media (max-width: 737px) {
    section {
        justify-content: center;
    }
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

#busca {
    background-color: black;
    border-bottom-color: black;
}