#submitBtn {
    border-radius: 20px;
    border: 1px solid #abddde;
    background-color: #abddde;
    color: #FFFFFF;
}

#submitBtn2 {
    border-radius: 20px;
    border: 1px solid #879898;
    background-color: #879898;
    color: #FFFFFF;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

.badge {
    background-color: transparent;
}

.remove {
    color: red;
}