<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>


    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.2/css/all.min.css'>

    <link rel="stylesheet" href="../static/css/cadastro.css">


</head>

<body>

    <div class="container">


        <form action="#">
            <h1>Criar conta</h1>
            <div>
                <input type="email" name="email" id="email" placeholder="Email" autocomplete="off" />
            </div>
            <div>
                <input type="password" name="password" id="password" placeholder="Senha" autocomplete="off" />
            </div>
            <div>
                <input type="password" name="repeatpassword" id="repeatpassword" placeholder="Confirmar senha" autocomplete="off" />
            </div>

            <div class="buttons">
                <button class="create-account" href="#">Criar conta</button>
            </div>
        </form>
    </div>




    <script src="../static/js/cadastro.js"></script>




</body>

</html>