<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Catálogo</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">


    <link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>

    <link rel="stylesheet" href="../static/css/catalogo.css">


</head>

<body>

    <header>

        <h1 class="display-1 text-center">
            <img src="../static/imagens/icon.png" style="width:12%">
            <span style="color:white"> Chernobyl Filmes</span>
        </h1>



        <select id="rating-filter">
      <option value="">Ordenar por</option>
      <option value="Low rating">Baixa radioatividade</option>
      <option value="High rating">Alta radioatividade</option>
      <option value="A-Z">A-Z</option>
      <option value="Z-A">Z-A</option>
    </select>
    </header>

    <div class="container">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Pesquisar" id="query" value="">
            <div class="input-group-btn">
                <button id="busca" type="submit" class="btn btn-success"><span
            class="glyphicon glyphicon-search"></span></button>
            </div>
        </div>
    </div>
    <section>
    </section>
    <template id="movie-template">
    <figure>
      <img src="{{poster}}" />
      <figcaption>
        <p>{{genre}}</p>
        <div class="rating">
          <i class="fas fa-radiation"> </i>
          <h4>{{rating}}</h4>
        </div>
      </figcaption>
    </figure>
  </template>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js'></script>



    <script src="../static/js/catalogo.js"></script>




</body>

</html>