<!doctype html>
<html lang="pt" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Exemplo de Controle de Acesso</title>
</head>
<body>
<h1>Tela inicial do convidado</h1>
<p>Esta é a tela inicial para quem não tem autenticação.</p>
<hr>
<ul>
    <li><a th:href="@{/testeAcesso/cadastrar}">Cadastrar novo usuário</a></li>
    <li><a th:href="@{/testeAcesso/login}">Login</a></li>
</ul>
</body>
</html>