<!doctype html>
<html lang="pt" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:include="fragments/layout :: head(title=~{::title}, extras=~{::extras})">
    <title>Pessoas</title>
    <extras></extras>
</head>

<body th:include="fragments/layout :: body" th:with="content=~{::content}">
    <div th:fragment="content"><br>

        <div class="row">
            <div class="col">
                <div th:if="${param.created}" class="alert alert-success alert-dismissible fade show" role="alert">
                    Pessoa inserida!
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div th:if="${param.deleted}" class="alert alert-success alert-dismissible fade show" role="alert">
                    Pessoa excluída!
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <h1>Pessoas</h1>
            </div>
            <div class="col-auto">
                <a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-primary btn-sm"
                    th:href="@{/admin/pessoas/editar}" role="button">
                    Inserir pessoa
                </a>
            </div>
        </div>
        <hr style="border-width: 2px;">

        <div class="row">
            <div th:each="pessoa: ${pessoas}" class="col-auto">
                <a th:href="@{/pessoas/} + ${pessoa.id}">
                    <img class="picture" th:src="${#strings.length(pessoa.image) > 10} ? ${pessoa.image} : @{/imagens/actor.png}" th:alt=${pessoa.nome}
                        style="width: 180px; height: 180px;" />
                    <figcaption style="text-align: center"><a th:href="@{/pessoas/} + ${pessoa.id}"
                            th:text="${pessoa.nome}"></a></figcaption>
                </a>
            </div>
        </div>

    </div>
</body>

</html>