<!doctype html>
<html lang="pt" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:include="fragments/layout :: head(title=~{::title}, extras=~{::extras})">
    <title>Cadastrar</title>
    <extras></extras>
</head>

<body th:include="fragments/layout :: body" th:with="content=~{::content}">
    <div th:fragment="content" class="container"><br>

        <div class="row justify-content-md-center">
            <div class="card" style="width: 36rem;">
                <div class="card-header">
                    <h2>Cadastrar</h2>
                </div>
                <div class="card-body">
                    <form th:action="@{/usuario/cadastrar/enviar}" th:object=${usuarioDto} method="post">
                        <fieldset>
                            <div class="form-group">
                                <label for="login">Login</label>
                                <input id="login" type="text" th:field="*{login}" class="form-control" />
                                <div th:if="${#fields.hasErrors('login')}" th:errors="*{login}">Erro</div>
                            </div>

                            <div class="form-group">
                                    <label for="senha">Senha</label>
                                    <input id="senha" type="password" th:field="*{senha}" class="form-control"/>
                                    <div th:if="${#fields.hasErrors('senha')}" th:errors="*{senha}">Erro</div>
                            </div>

                            <div class="form-group">
                                    <label for="nome">Nome</label>
                                    <input id="nome" type="text" th:field="*{nome}" class="form-control"/>
                                    <div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">Erro</div>
                            </div>

                            <div class="form-group">
                                    <label for="email">E-mail</label>
                                    <input id="email" type="email" th:field="*{email}" class="form-control"/>
                                    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Erro</div>
                            </div>
                            <button type="submit" class="btn btn-primary">Cadastrar</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>

</div>
</body>

</html>