<!doctype html>
<html lang="pt"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:include="fragments/layout :: head(title=~{::title}, extras=~{::extras})">
    <title>Entrar</title>
    <extras></extras>
</head>

<body th:include="fragments/layout :: body" th:with="content=~{::content}">
<div th:fragment="content">
    <h1>Entrar</h1>
    <form th:action="@{/usuario/login}" method="post">
        <fieldset>
            <div th:if="${param.error}" class="alert alert-danger" role="alert">
                Usuário e/ou senha inválidos.
            </div>
            <div th:if="${param.logout}" class="alert alert-success" role="alert">
                Você foi desautenticado.
            </div>
            <div th:if="${param.created}" class="alert alert-success" role="alert">
                Usuário cadastrado!
            </div>

            <label for="username">Login</label>
            <input id="username" type="text" name="username"/>
            <br>

            <label for="password">Senha</label>
            <input id="password" type="password" name="password"/>
            <br>

            <button type="submit">Entrar</button>
        </fieldset>
    </form>
</div>
</body>

</html>