<!doctype html>
<html lang="pt" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Exemplo cadastro</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/exemplo.css}"/>
</head>
<body>
<h2>Cadastrar entidade</h2>
    <form th:action="@{/exemplo/entity/salvar}" th:object=${exemplo} method="post">
    <input name="id" th:type="hidden" th:field="*{id}"/>
    Nome: <input type="text"  th:field="*{nome}" /><br>
    Texto: <input type="text" th:field="*{texto}"/><br>
    <button type="submit">Salvar</button>
    </form>
</body>
</html>