<!doctype html>
<html lang="pt"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:include="fragments/layout :: head(title=~{::title})">
    <title>Início</title>
</head>

<body th:include="fragments/layout :: body" th:with="content=~{::content}">
<div th:fragment="content">

    <h2>Inserir nova pessoa</h2>
    <form th:action="@{/admin/pessoas/inserir/enviar}" th:object=${pessoaDto} method="post">
        <fieldset>

            <label for="nome">Nome</label>
            <input id="nome" type="text" th:field="*{nome}"/>
            <div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">Erro</div>
            <br>

            <label for="cargo">Cargo</label>
            <select id="cargo" class="selectpicker" th:field="*{cargo}">
                <option th:each="cargo: ${@pessoaService.getNomesCargos()}" th:value="${cargo}" th:text="${cargo}"></option>
            </select>
            <div th:if="${#fields.hasErrors('cargo')}" th:errors="*{cargo}">Erro</div>
            <br>

            <button type="submit">Inserir</button>
        </fieldset>
    </form>

</div>
</body>

</html>