<!doctype html>
<html lang="pt"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:include="fragments/layout :: head(title=~{::title}, extras=~{::extras})">
    <title>Início</title>
    <extras></extras>
</head>

<body th:include="fragments/layout :: body" th:with="content=~{::content}, customScript=~{::customScript}">
<div th:fragment="content">

    <h2 th:text="${filmeDto.id == null ? 'Inserir filme' : 'Editar filme'}">Editar filme</h2>

    <form th:action="@{/admin/filmes/editar/enviar}" th:object=${filmeDto} method="post">
        <fieldset>
            <!-- O ID do filme deve ser guardado escondido no formulário. -->
            <input type="hidden" th:value="*{id}" th:field="*{id}"/>

            <!-- Título -->
            <label for="titulo">Título</label>
            <input id="titulo" type="text" th:field="*{titulo}"/>
            <div th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}">Erro</div>
            <br>
            <br>
            <br>

            <!-- Diretor -->
            <label for="idDiretor">Diretor</label>
            <select id="idDiretor" class="selectpicker" data-live-search="true" th:field="*{idDiretor}">
                <option th:each="diretor: ${@pessoaService.findAllDiretoresDto()}"
                        th:value="${diretor.id}"
                        th:text="${diretor.nome}"></option>
            </select>
            <div th:if="${#fields.hasErrors('idDiretor')}" th:errors="*{idDiretor}">Erro</div>
            <br>
            <br>
            <br>

            <!-- Atores -->
            <label for="idAtores">Atores</label>
            <table th:fragment="idAtores" id="idAtores" class="table">
                <tbody>
                <tr th:each="idAtor, stat : ${filmeDto.idAtores}">
                    <td>
                        <span th:text="${@pessoaService.findById(idAtor)?.nome}"></span>
                        <input type="hidden" th:value="${idAtor}" th:field="${filmeDto.idAtores[__${stat.index}__]}"/>
                    </td>
                    <td>
                        <button type="button" name="removeAtor" th:value="${stat.index}">-
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
            <label for="idNovoAtor">Novo Ator</label>
            <select id="idNovoAtor" class="selectpicker" data-live-search="true">
                <option th:each="idAtor: ${@pessoaService.findAllAtoresDto()}"
                        th:value="${idAtor.id}"
                        th:text="${idAtor.nome}"></option>
            </select>
            <button type="button" name="addAtor">+</button>
            <br>
            <br>
            <br>

            <!-- Premiações -->
            <label for="premiacoes">Premiações</label>
            <table th:fragment="premiacoes" id="premiacoes" class="table">
                <tbody>
                <tr th:each="premiacao, stat : ${filmeDto.premiacoes}">
                    <td>
                        <span th:text="${premiacao}"></span>
                        <input type="hidden" th:value="${premiacao}"
                               th:field="${filmeDto.premiacoes[__${stat.index}__]}"/>
                    </td>
                    <td>
                        <button type="button" name="removePremiacao" th:value="${stat.index}">-
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
            <label for="novaPremiacao">Nova Premiação</label>
            <input id="novaPremiacao" type="text"/>
            <button type="button" name="addPremiacao">+</button>
            <br>
            <br>
            <br>

            <button type="submit">Salvar</button>
        </fieldset>
    </form>
</div>
<div th:fragment="customScript">
    <script type="text/javascript" th:src="@{/js/filmes/editar.js}"></script>
</div>
</body>
</html>