<!doctype html>
<html lang="pt"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:include="fragments/layout :: head(title=~{::title}, extras=~{::extras})">
    <title>Filmes</title>
    <extras></extras>
</head>

<body th:include="fragments/layout :: body" th:with="content=~{::content}">
<div th:fragment="content"><br>


    <div class="row">
        <div class="col">
            <h1>Filmes</h1>
        </div>
        <div class="col-auto">
            <div th:if="${param.created}" class="alert alert-success alert-dismissible fade show" role="alert">
                Filme inserido!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div th:if="${param.deleted}" class="alert alert-success alert-dismissible fade show" role="alert">
                Filme excluído!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-success btn-sm"
               th:href="@{/admin/filmes/editar}" role="button">
                Inserir filme
            </a>
        </div>
    </div>
    <hr style="border-width: 2px;">

    <div class="row" style="margin-left: 5%">
        <div th:each="filme: ${filmes}" class="col-auto">
            <a th:href="@{/filmes/} + ${filme.id}">
                <img class="picture" th:src="${filme.image}" th:alt="${filme.titulo}"
                     style="height: 268px; width: 188px;"/>
                <figcaption style="text-align: center"><a th:href="@{/filmes/} + ${filme.id}"
                                                          th:text="${filme.titulo}"></a></figcaption>
            </a>
        </div>
    </div>

</div>
</body>

</html>