<!doctype html>
<html lang="pt" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:include="fragments/layout :: head(title=~{::title}, extras=~{::extras})">
    <title>Filme</title>
    <extras>
        <link th:href="@{/css/filme.css}" rel="stylesheet">
    </extras>
</head>

<body th:include="fragments/layout :: body" th:with="content=~{::content}, customScript=~{::customScript}">
<div th:fragment="content"><br>

    <div>
        <div th:if="${param.updated}" class="alert alert-success alert-dismissible fade show" role="alert">
            Filme editado!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div th:if="${param.createdresenha}" class="alert alert-success alert-dismissible fade show" role="alert">
            Resenha inserida!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div th:if="${param.deletedresenha}" class="alert alert-success alert-dismissible fade show" role="alert">
            Resenha excluída!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div th:if="${param.updatedresenha}" class="alert alert-success alert-dismissible fade show" role="alert">
            Resenha atualizada!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div th:if="${param.createdtopico}" class="alert alert-success alert-dismissible fade show" role="alert">
            Ponto negativo inserido!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div th:if="${param.deletedtopico}" class="alert alert-success alert-dismissible fade show" role="alert">
            Ponto negativo excluído!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div th:if="${param.updatedtopico}" class="alert alert-success alert-dismissible fade show" role="alert">
            Ponto negativo atualizado!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div th:if="${param.img_updated}" class="alert alert-success alert-dismissible fade show" role="alert">
            Imagem alterada!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

    </div>
    <div class="row">
        <div class="col">
            <h1>Filme</h1>
        </div>

        <div class="col-auto">
            <a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-primary btn-sm"
               th:href="@{/admin/filmes/editar/} + ${filmeDto.id}" role="button">
                Editar filme
            </a>
            <a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-primary btn-sm"
               th:href="@{/admin/filmes/} + ${filmeDto.id + '/excluir'}" role="button">
                Excluir filme
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <img th:src="${filmeDto.image}" th:alt="${filmeDto.titulo}" style="height: 268px; width: 188px;"/>
        </div>

        <div class="col-md-3">
            <h5>Título</h5>
            <p th:text="${filmeDto.titulo}"></p>

            <h5>Diretor</h5>
            <p>
                <a th:href="@{/pessoas/} + ${filmeDto.idDiretor}"
                   th:text="${@pessoaService.findById(filmeDto.idDiretor)?.nome}"></a>
            </p>

            <h5>Atores</h5>
            <ul>
                <li th:each="idAtor : ${filmeDto.idAtores}">
                    <a th:href="@{/pessoas/} + ${idAtor}" th:text="${@pessoaService.findById(idAtor)?.nome}"></a>
                </li>
            </ul>
        </div>
        <div class="col">
            <h5>Premiações</h5>
            <ul>
                <li th:each="premiacao : ${filmeDto.premiacoes}">
                    <span th:text="${premiacao}"></span>
                </li>
            </ul>
        </div>
        <div class="col-auto">
            <h5>Grau de radioatividade</h5>
            <div id="avaliacaoFilme" th:fragment="avaliacaoFilme">
                <!-- Média atual da avaliação do filme -->
                <p>Média atual: <b><span
                        th:text="${mediaAvaliacao <= 0 ? 'Não avaliado' : mediaAvaliacao}"></span></b>
                </p>
                <!-- Botões de avaliar o filme -->
                <div sec:authorize="isAuthenticated()">
                    <p>Seu voto:</p>
                    <div class="btn-toolbar" role="toolbar">
                        <div class="btn-group btn-group-toggle" role="group">
                            <button th:classappend="${minhaAvaliacao == 0} ? active : ''" name="avaliarFilme"
                                    type="button" class="btn btn-danger" value="0">X
                            </button>
                            <button th:classappend="${minhaAvaliacao == 1} ? active : ''" name="avaliarFilme"
                                    type="button" class="btn btn-secondary" value="1">1
                            </button>
                            <button th:classappend="${minhaAvaliacao == 2} ? active : ''" name="avaliarFilme"
                                    type="button" class="btn btn-secondary" value="2">2
                            </button>
                            <button th:classappend="${minhaAvaliacao == 3} ? active : ''" name="avaliarFilme"
                                    type="button" class="btn btn-secondary" value="3">3
                            </button>
                            <button th:classappend="${minhaAvaliacao == 4} ? active : ''" name="avaliarFilme"
                                    type="button" class="btn btn-secondary" value="4">4
                            </button>
                            <button th:classappend="${minhaAvaliacao == 5} ? active : ''" name="avaliarFilme"
                                    type="button" class="btn btn-secondary" value="5">5
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h5 class="margin-title">Pontos negativos</h5>
            <div id="topicos" th:fragment="topicos">
                <div th:if="${topicos == null || topicos.size() == 0}">
                    Nenhum ponto negativo
                </div>
                <div th:if="${topicos != null && topicos.size() > 0}" th:each="topico: ${topicos}">

                    <div class="card" style="margin-bottom:1rem;">
                        <div class="card-header">
                            <div class="row no-gutters align-items-center">
                                <div class="col-md-auto align-middle" style="margin-left:-0.5rem;margin-right:0.5rem;">
                                    <img th:src="${'https://api.adorable.io/avatars/48/' + topico.idAutor + '.png'}"
                                         class="img-avatar" alt="Avatar do autor"/>
                                </div>
                                <div class="col">
                                    <b th:text="${@usuarioService.findById(topico.idAutor)?.nome}"></b>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-text" th:text="${topico.texto}"></p>
                        </div>
                        <div class="card-footer text-muted">
                            <div class="row">
                                <div class="col">
                                    <!-- Botões de avaliar o topico -->
                                    <div class="btn-group btn-group-sm btn-group-toggle" role="group"
                                         sec:authorize="isAuthenticated()">
                                        <button
                                                th:classappend="${topico.minhaAvaliacao != null && topico.minhaAvaliacao == true} ? active : ''"
                                                name="avaliarTopicoPositivo" type="button" class="btn btn-sm btn-success"
                                                th:value="${topico?.id}">
                                            <i class="fas fa-thumbs-up text-white"></i>
                                        </button>
                                        <button
                                                th:classappend="${topico.minhaAvaliacao != null && topico.minhaAvaliacao == false} ? active : ''"
                                                name="avaliarTopicoNegativo" type="button" class="btn btn-sm btn-danger"
                                                th:value="${topico?.id}">
                                            <i class="fas fa-thumbs-down text-white"></i>
                                        </button>
                                        <a th:if="${@authService.isAdmin() || (@authService.isAuthenticated() && @authService.getUsuario()?.getId() == topico.idAutor)}"
                                           th:href="@{/filmes/} + ${topico.idFilme + '/editar-topico/' + topico.id}" role="button"
                                           class="btn btn-sm btn-secondary">
                                            <i class="fas fa-pencil-alt text-white"></i>
                                        </a>
                                        <a th:if="${@authService.isAdmin() || (@authService.isAuthenticated() && @authService.getUsuario()?.getId() == topico.idAutor)}"
                                           th:href="@{/filmes/} + ${topico.idFilme + '/excluir-topico/' + topico.id}" role="button"
                                           class="btn btn-sm btn-secondary">
                                            <i class="fas fa-trash text-white"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <p th:text="${topico.mediaAvaliacao < 0 ? 'Não avaliado' : ((topico.mediaAvaliacao*100) + '% de aprovação')}"></p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col margin-title">
            <a sec:authorize="isAuthenticated()" th:href="@{/filmes/} + ${filmeDto.id + '/editar-topico'}"
               class="btn btn-primary" role="button">
                Inserir ponto negativo
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h5 class="margin-title">Resenhas</h5>
            <div id="resenhas" th:fragment="resenhas">
                <div th:if="${resenhas == null || resenhas.size() == 0}">
                    Nenhuma resenha
                </div>

                <div th:if="${resenhas != null && resenhas.size() > 0}" th:each="resenha: ${resenhas}">
                    <div class="card" style="margin-bottom:1rem;">
                        <div class="card-header">
                            <div class="row no-gutters align-items-center">
                                <div class="col-md-auto align-middle" style="margin-left:-0.5rem;margin-right:0.5rem;">
                                    <img th:src="${'https://api.adorable.io/avatars/48/' + resenha.idAutor + '.png'}"
                                         class="img-avatar" alt="Poster do filme"/>
                                </div>
                                <div class="col">
                                    <b th:text="${@usuarioService.findById(resenha.idAutor)?.nome}"></b>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-text" th:text="${resenha.texto}"></p>
                        </div>
                        <div class="card-footer text-muted">
                            <div class="row">
                                <div class="col">
                                    <!-- Botões de avaliar a resenha -->
                                    <div class="btn-group btn-group-sm btn-group-toggle" role="group"
                                         sec:authorize="isAuthenticated()">
                                        <button
                                                th:classappend="${resenha.minhaAvaliacao != null && resenha.minhaAvaliacao == true} ? active : ''"
                                                name="avaliarResenhaPositivo" type="button"
                                                class="btn btn-sm btn-success" th:value="${resenha?.id}">
                                            Concordo
                                        </button>
                                        <button
                                                th:classappend="${resenha.minhaAvaliacao != null && resenha.minhaAvaliacao == false} ? active : ''"
                                                name="avaliarResenhaNegativo" type="button"
                                                class="btn btn-sm btn-danger" th:value="${resenha?.id}">
                                            Discordo
                                        </button>
                                        <a th:if="${@authService.isAdmin() || (@authService.isAuthenticated() && @authService.getUsuario()?.getId() == resenha.idAutor)}"
                                           th:href="@{/filmes/} + ${resenha.idFilme + '/editar-resenha/' + resenha.id}"
                                           role="button" class="btn btn-sm btn-secondary">
                                            Editar
                                        </a>
                                        <a th:if="${@authService.isAdmin() || (@authService.isAuthenticated() && @authService.getUsuario()?.getId() == resenha.idAutor)}"
                                           th:href="@{/filmes/} + ${resenha.idFilme + '/excluir-resenha/' + resenha.id}"
                                           role="button" class="btn btn-sm btn-secondary">
                                            Excluir
                                        </a>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <!-- Porcentagem das avaliações da resenha -->
                                    <i>
                                        <p
                                                th:text="${resenha.mediaAvaliacao < 0 ? 'Não avaliado' : ((resenha.mediaAvaliacao*100) + '% de aprovação')}">
                                        </p>
                                    </i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col margin-title">
            <a sec:authorize="isAuthenticated()" th:href="@{/filmes/} + ${filmeDto.id + '/editar-resenha'}"
               class="btn btn-primary" role="button">
                Inserir resenha
            </a>
        </div>
    </div>

</div>
<div th:fragment="customScript">
    <script type="text/javascript" th:src="@{/js/filmes/filme.js}"></script>
</div>
</body>

</html>