<!doctype html>
<html lang="pt"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:include="fragments/layout :: head(title=~{::title})">
    <title>Início</title>
</head>

<body th:include="fragments/layout :: body" th:with="content=~{::content}">
<div th:fragment="content">

    <h2>Inserir novo filme</h2>
    <form th:action="@{/admin/filmes/inserir/enviar}" th:object=${filmeDto} method="post">
        <fieldset>

            <label for="titulo">Título</label>
            <input id="titulo" type="text" th:field="*{titulo}"/>
            <div th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}">Erro</div>
            <br>

            <label for="idDiretor">Diretor</label>
            <select id="idDiretor" class="selectpicker" data-live-search="true" th:field="*{idDiretor}">
                <option th:each="diretor: ${@pessoaService.findAllDiretoresDto()}" th:value="${diretor.id}" th:text="${diretor.nome}"></option>
            </select>
            <div th:if="${#fields.hasErrors('idDiretor')}" th:errors="*{idDiretor}">Erro</div>
            <br>

            <button type="submit">Inserir</button>
        </fieldset>
    </form>

</div>
</body>

</html>